<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Desafio OrangeTalents</title>
<meta name="author" content="Lucas Novais"/>
</head>
<body>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	
	
	<table class="table" th:fragment="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Nome da vacina</th>
			      <th scope="col">E-mail do usuario</th>
			      <th scope="col">Data da realização da vacina</th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr scope="now" th:each="vacinas : ${vacinasList}">
			      <td th:text="${vacinas.nomeVacina}"></td>
			      <td th:text="${vacinas.email}"></td>
			      <td th:text="${vacinas.dataRealizacao}"></td>
			    </tr>
			  </tbody>
			</table>

</body>
</html>