<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<title>Desafio OrangeTalents</title>
<meta name="author" content="Lucas Novais"/>
</head>
<body>
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<div class="container" th:replace="fragmentos/fragmentos :: vacina"></div>
	<div class="container" th:replace="home/listTest :: table"></div>

	
	
</body>
</html>
